*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 80%;
}


.row{
    justify-content: center;
}
figure{
    width: 17rem;
}

.description{
    height: 100%;
    margin-left: 2rem;
    width: 17rem
}

.description{
    text-align: start;
}

.overviw{
    text-align: justify;
}