*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 80%;
}


.row{
    justify-content: center;
}
figure{
    width: 17rem;
}

.description{
    height: 100%;
    margin-left: 2rem;
    width: 24rem
}

.description{
    text-align: start;
}

.overviw{
    text-align: justify;
}

.detalhes > .container{
    padding-top: 1rem;
    border-radius: 1rem;
    background-color: rgb(49, 47, 71);
    color: white;
}

.comentarios > .container{
    margin-top: 2rem;
}
fieldset{
    border: 4rem solid rebeccapurple;
}