

section .container{
    background-color:rgb(14, 12, 12);
    color: white;
}
footer{
    background-color: black;
}

.col-md-3{
   margin-top: 1rem;
}
.row{
    padding-top: 1rem;
}

.container.flooter{
    padding: 0;
}