

section .container{
    background-color:white;
    color:blueviolet;
}
footer{
    background-color:black;
}

.col-md-3{
   margin-top: 1rem;
}
.row{
    padding-top: 1rem;
}

.container.flooter{
    padding: 0;
}

main{
position: absolute;
}
p, h1{
    position: relative;
}
/* figure{
    width: 12.5rem;
} */
/* img{
    max-width: 200px;
    max-height: 200px;
} */

