

section .container{
    background-color:#000;
    color:blueviolet;
}
footer{
    background-color:black;
}

.col-md-3{
   margin-top: 1rem;
}
.row{
    padding-top: 1rem;
}

.container.flooter{
    padding: 0;
}

main{
position: absolute;
}

.listar{
    display: flex;
    padding: 2rem;
}

.box{
    width: 70%;
    height: 80%;
    padding-top: 1rem;
    border-radius: 1rem;
    background-color: rgb(49, 47, 71);
    color: white;
}
.box{
    position: fixed;
    top: 100px;
    bottom: 500px;
    left:180px;

}


.box > figure > img{
width: 150px;
height: 100px;
}

.btn1{
display: flex;
justify-content: end;
margin-right: 0.7rem;
margin-top: 0;


}

figure > img{
    margin-left: 1rem;
}

.elementos{
    display: flex;
 
}

.detalhes > .container{
    position: fixed;
    top: 30px;
    bottom: 500px;
    left: 128px;;
}

.elementos > figure{
    width: 17rem;
}

.description{
    height: 100%;
    margin-left: 2rem;
    width: 100%
}

.description{
    text-align: start;
    margin-right: 1.8rem;
}

.overviw{
    text-align: justify;
}

.comentarios > .container{
    margin-top: 2rem;
}
